In [1]:

import pandas as pd
from sqlalchemy import create_engine
from functools import reduce

In [5]:
csv_file = "Resources/COW.csv"
COW_df = pd.read_csv(csv_file)
COW_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [11]:
csv_file = "Resources/MMR.csv"
MMR_df = pd.read_csv(csv_file)
MMR_df.head()

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Maternal mortality ratio (per 100 000 live bir...,638 [427-1010]
1,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
2,Afghanistan,2015,Maternal mortality ratio (per 100 000 live bir...,701 [501-1020]
3,Afghanistan,2014,Maternal mortality ratio (per 100 000 live bir...,786 [592-1080]
4,Afghanistan,2013,Maternal mortality ratio (per 100 000 live bir...,810 [617-1080]

In [10]:
COW_cleaned = COW_df.drop(columns = ['Area (sq. mi.)' , 'Pop. Density (per sq. mi.)' , 'Coastline (coast/area ratio)' ,
                                     'Net migration' , 'GDP ($ per capita)' , 'Literacy (%)' , 'Phones (per 1000)' , 'Arable (%)',
                                     'Other (%)', 'Climate', 'Agriculture','Crops (%)','Birthrate','Deathrate','Industry','Service'])
COW_cleaned.head()

,Country,Region,Population,Infant mortality (per 1000 births)
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,"163,07"
1,Albania,EASTERN EUROPE,3581655,"21,52"
2,Algeria,NORTHERN AFRICA,32930091,31
3,American Samoa,OCEANIA,57794,"9,27"
4,Andorra,WESTERN EUROPE,71201,"4,05"

In [12]:
MMR_cleaned_df = MMR_df.rename(columns = {'Location': 'Country'})
                                                       

MMR_cleaned_df

,Country,Period,Indicator,First Tooltip
0,Afghanistan,2017,Maternal mortality ratio (per 100 000 live bir...,638 [427-1010]
1,Afghanistan,2016,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040]
2,Afghanistan,2015,Maternal mortality ratio (per 100 000 live bir...,701 [501-1020]
3,Afghanistan,2014,Maternal mortality ratio (per 100 000 live bir...,786 [592-1080]
4,Afghanistan,2013,Maternal mortality ratio (per 100 000 live bir...,810 [617-1080]
...,...,...,...,...
3289,Zimbabwe,2004,Maternal mortality ratio (per 100 000 live bir...,686 [597-784]
3290,Zimbabwe,2003,Maternal mortality ratio (per 100 000 live bir...,680 [590-779]
3291,Zimbabwe,2002,Maternal mortality ratio (per 100 000 live bir...,666 [577-766]
3292,Zimbabwe,2001,Maternal mortality ratio (per 100 000 live bir...,629 [544-723]
3293,Zimbabwe,2000,Maternal mortality ratio (per 100 000 live bir...,579 [500-667]

In [14]:
dfs = [MMR_cleaned_df, COW_cleaned ]

final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), dfs)

final_df

,Country,Period,Indicator,First Tooltip,Region,Population,Infant mortality (per 1000 births)
0,Afghanistan,2017.0,Maternal mortality ratio (per 100 000 live bir...,638 [427-1010],NaN,NaN,NaN
1,Afghanistan,2016.0,Maternal mortality ratio (per 100 000 live bir...,673 [457-1040],NaN,NaN,NaN
2,Afghanistan,2015.0,Maternal mortality ratio (per 100 000 live bir...,701 [501-1020],NaN,NaN,NaN
3,Afghanistan,2014.0,Maternal mortality ratio (per 100 000 live bir...,786 [592-1080],NaN,NaN,NaN
4,Afghanistan,2013.0,Maternal mortality ratio (per 100 000 live bir...,810 [617-1080],NaN,NaN,NaN
...,...,...,...,...,...,...,...
3516,West Bank,NaN,NaN,NaN,NEAR EAST,2460492.0,"19,62"
3517,Western Sahara,NaN,NaN,NaN,NORTHERN AFRICA,273008.0,NaN
3518,Yemen,NaN,NaN,NaN,NEAR EAST,21456188.0,"61,5"
3519,Zambia,NaN,NaN,NaN,SUB-SAHARAN AFRICA,11502010.0,"88,29"
3520,Zimbabwe,NaN,NaN,NaN,SUB-SAHARAN AFRICA,12236805.0,"67,69"